.signup-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 20vh auto; }
  .signup-form-wrapper .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%; }
    .signup-form-wrapper .flex-column .label {
      width: 8vw; }
    .signup-form-wrapper .flex-column .input {
      margin-bottom: 5vh;
      width: 32vw; }

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15vh; }

#ratings-wrapper span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

#user-card {
  width: 50vh;
  margin-top: 5vh; }
  #user-card img {
    width: 50vh;
    height: 50vh; }

#user-skills-card {
  margin-top: 5vh;
  width: 45vw; }

#hello {
  color: #e53b3b; }

.flex-row {
  display: flex;
  justify-content: space-around; }
