.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 10vh auto; }
  .form-wrapper .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%; }
    .form-wrapper .flex-column .label {
      width: 8vw; }
    .form-wrapper .flex-column .input {
      margin-bottom: 5vh;
      width: 32vw; }

#hello {
  color: #e53b3b; }
