@import './sass/_variables';
@import './sass/_Signup';
@import './sass/_UserProfile';
@import './sass/_Home';
@import './sass/_UserSearch';
@import './sass/_Connection';

//HELPER CLASSES
.flex-row {
    display: flex;
    justify-content: space-around;
}

//GET RID OF ORANGE BORDER ON ORANGE COLOR MESSAGES
.ui.orange.message {
    box-shadow: 0 0 0 1px #cccccc inset, 0 0 0 0 transparent;
}

//GET RID OF PADDING BELOW CHAT COMMENT TEXTAREA
.ui.grid>.column:not(.row) {
    padding-bottom: 0;
}


