@import './sass/_variables';
@import './sass/_Signup';
@import './sass/_UserProfile';

#hello{
  color: $error;
}

//HELPER CLASSES
.flex-row {
    display: flex;

    justify-content: space-around;
}


