#connection-card {
    margin-top: 5vh;
    width: 90%;
    height: 75vh;
    img {
        height: 10vh;
        width: 10vh;
        border-radius: 5px;
        //border: 1px solid $placeholder;
    }
    #connection-header {
        font: 2rem $primaryFont;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #connection-skills {
        overflow-y: auto;
        height: 43vh;
    }
    #connection-button {
        height: 10vh;
    }
}

#connection-chat {
    height: 85vh;
    width: 95vw;
    margin: 5vh auto;
    #chat-main {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}