.signup-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 10vh auto;
    .flex-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        width: 100%;
        .label{
            width: 8vw;
        }
        .input{
            margin-bottom: 5vh;
            width: 32vw;
        }
    }
}